<div class="d-flex justify-content-center p-4">
<span class="border border-info rounded">
<div class="shadow-lg p-4 bg-info text-white">
<%= form_with model: @account, url: choose_path, local: true do |f| %>
    <div class="form-row align-items-center">
        <div class="col-auto">
            <%= f.label :usertype, "Sign up as a Client" %>
            <%= f.radio_button :usertype, 'client', checked: "checked" %><br>

            <%= f.label :usertype, "Sign up as a Maid" %>
            <%= f.radio_button :usertype, 'maid' %><br><br>

            <%= f.submit 'Select account type', class: 'btn btn-outline-light' %>
        </div>
    </div>
<% end %>
</div>
</span>
</div>