<p><%= link_to "Edit your information", edit_client_path %></p>

<table>
<% if @residences %>
    <tbody>
    <tr>
        <td style="text-align:center"><strong>Address</strong></td>
        <td style="text-align:center"><strong>Bedrooms</strong></td>
        <td style="text-align:center"><strong>Bathrooms</strong></td>
        <td style="text-align:center"><strong>Request a Cleaning</strong></td>
    </tr>
    <% @residences.each do |res| %>
        <tr>
            <td style="text-align:left"><%= res.address %></td>
            <td style="text-align:center"><%= res.number_of_bedrooms %></td>
            <td style="text-align:center"><%= res.number_of_bathrooms %></td>
            <td style="text-align:center"><%= link_to "Clean request", new_schedule_path %></td>
        </tr>
    <% end %>
    </tbody>
    <% end %>
</table>
<p><%= link_to "Add a new residence", new_residence_path %></p>
    