<div class="container p-4">
    <table class="table">
    <% if flash[:alert] %>
        <div class="alert"><%= flash[:alert] %></div>
    <% end %>
    <% if @residences != []%>
        <thead class="thead-dark">
            <tr>
                <th scope="col" style="text-align:center">Address</th>
                <th scope="col" style="text-align:center">City</th>
                <th scope="col" style="text-align:center">View Residence</th>
                <th scope="col" style="text-align:center">Request a Cleaning</th> 
            </tr>
        </thead>
        <tbody>
        <% @residences.each do |res| %>
            <tr>
                <td style="text-align:center"><%= res.address %></td>
                <td style="text-align:center"><%= res.city %></td>
                <td style="text-align:center"><%= link_to "View", residence_path(res.id), class: 'btn btn-outline-info' %></td>
                <td style="text-align:center"><%= link_to "Clean request", new_client_residence_schedule_path(current_user.id, res.id), class: 'btn btn-outline-info' %></td>
            </tr>
        <% end %>
        </tbody>
    <% else %>
        <tr>
            <td style="text-align:center"><%= link_to "Add a residence", new_residence_path, class: 'btn btn-outline-info' %></td>
        </tr>  
    <% end %>
    </table>
</div>
    