<div class="d-flex justify-content-center">
<span class="border border-info rounded">
<div class="shadow-lg p-4 bg-info text-white">
<%= form_for residence do |f| %>

    <% if residence.errors.any? %>
        <ul>
            <% residence.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>

    <div class="form-row align-items-center">
        <div class="col-auto">
            <%= f.text_field :address, placeholder: 'Address', class: 'form-control' %><br>

            <%= f.text_field :residence_type, placeholder: 'Type of residence', class: 'form-control' %><br>

            <%= f.text_field :city, placeholder: 'City', class: 'form-control' %><br>

            <%= f.text_field :state, placeholder: 'State', class: 'form-control' %><br>

            <%= f.text_field :number_of_bedrooms, placeholder: '# of bedrooms', class: 'form-control' %><br>

            <%= f.text_field :number_of_bathrooms, placeholder: '# of bathrooms', class: 'form-control' %><br><br>

            <%= f.submit "Submit Residence", class: 'btn btn-outline-light' %>
        </div>
    </div>
<% end %>
</div>
</span>
</div>