<div class="d-flex justify-content-center p-4">
<span class="border border-info rounded">
<div class="shadow-lg p-4 bg-info text-white">
<%= form_for maid do |f| %>

    <% if maid.errors.any? %>
        <ul>
            <% maid.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>
    
    <div class="form-row align-items-center">
        <div class="col-auto">
            <%= f.text_field :first_name, placeholder: 'First Name', class: 'form-control' %><br>

            <%= f.text_field :last_name, placeholder: 'Last Name', class: 'form-control' %><br>

            <%= f.text_field :city, placeholder: 'City', class: 'form-control' %><br>

            <%= f.text_field :state, placeholder: 'State', class: 'form-control' %><br>

            <%= f.collection_select :city, Maid::STATES %><br>
            
            <%= f.label :experience, "Amount of experience" %>
            <%= f.text_field :experience, placeholder: "e.g. 4 Months, 12 Years", class: 'form-control' %><br><br>

            <% if signup_complete? %>
                <%= f.submit "Submit Edits!", class: 'btn btn-outline-light' %>
            <% else %>
                <%= f.submit "Complete Sign Up!", class: 'btn btn-outline-light' %>
            <% end %>
        </div>
    </div>
<% end %>
</div>
</span>
</div>