<div class="container p-4">
    <table class="table">
    <% if @schedules != [] %>
        <thead class="thead-dark">
            <tr>
                <th scope="col" style="text-align:center">Day of the Week</th>
                <th scope="col" style="text-align:center">Amount of time</th>
                <th scope="col" style="text-align:center">Request Status</th>
                <th scope="col" style="text-align:center" colspan="2">Approve or Deny</th> 
            </tr>
        </thead>
        <tbody>
        <% @schedules.each do |schedule| %>
            <tr>
                <td style="text-align:center"><%= schedule.day_of_week %></td>
                <td style="text-align:center"><%= "#{schedule.length_of_time} hrs" %></td>
                <td style="text-align:center"><%= schedule.status %></td>
                <td style="text-align:center">
                <% if schedule.status == "Pending" %>
                    <%= form_for schedule, url: schedule_path(schedule), method: :patch do |f| %>
                        <%= f.hidden_field :status, value: "Approved" %>
                        <%= f.submit "Approve", class: 'btn btn-outline-info' %>
                    <% end %>
                </td>
                <td style="text-align:center">
                    <%= form_for schedule, url: schedule_path(schedule), method: :patch do |f| %>
                        <%= f.hidden_field :status, value: "Denied" %>
                        <%= f.submit "Deny", class: 'btn btn-outline-info' %>
                    <% end %>
                <% end%>    
                </td>
            </tr>
        <% end %>
        </tbody>
    <% else %>
        <h5>You have no requests for cleaning</h5>
    <% end %>
    </table>
</div>