<div class="d-flex justify-content-center p-4">
<span class="border border-info rounded">
<div class="shadow-lg p-4 bg-info text-white">
<h2>Welcome to<br>MaidProPlus!</h2><br>
<%= form_for @account do |f| %>

    <% if @account.errors.any? %>
        <ul>
            <% @account.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>
    <div class="form-row align-items-center">
        <div class="col-auto">
            <%= f.text_field :username, placeholder: "Username", class: 'form-control' %><br>

            <%= f.text_field :email, placeholder: "Email", class: 'form-control' %><br>
    
            <%= f.password_field :password, placeholder: "Password", class: 'form-control' %><br>

            <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: 'form-control' %><br>

            <%= f.label :usertype, "Sign up as a Client" %>
            <%= f.radio_button :usertype, 'client', checked: "checked" %><br>

            <%= f.label :usertype, "Sign up as a Maid" %>
            <%= f.radio_button :usertype, 'maid' %><br><br>

            <%= f.submit "Create account!", class: 'btn btn-outline-light' %>
        </div>
    </div><br>
    <p>Already have an account?</p>
    <%= link_to "Sign in", login_path, class: 'btn btn-outline-light' %>
<% end %>
</div>
</span>
</div>


